.column {
	@include flex($direction: column);
}
.desc-text {
	@include roboto-light;
	@include font-props(13px, 24px, $lightGray);
}
.image-block {
	& img {
		width: 100%;
		height: 100%;
	}
}
.burger {
	@include flex($direction: column);
	width: 25px;
	height: 12px;
	& span {
		display: inline-block;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}
	&:before, &:after {
		@include pseudo;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}
}
.breadcrumbs {
	@include flex($justify: flex-start);
	list-style-type: none;
}
.breadcrumb {
	& a {
		@include roboto-light;
		@include font-props(13px, 20px, #fff);
		text-decoration: none;
	}
	&:not(:first-child) {
		margin-left: 20px;
		list-style-image: url('../img/icons/thin-arrow.svg');
	}
}
.slider {
	&__contaner {
		@include flex($justify: center);
		position: relative;
	}
	&__wrapper {
		@include flex;
		max-width: 90%;
	}
	&__slide {
		@include flex($justify: center);
		min-width: 53px;
		height: 53px;
		border: 1px solid #e8ecf2;
		border-radius: 50%;
		&:not(:first-child) {
			margin-left: 6px;
		}
	}
	&__btns {
		@include flex;
		width: 100%;
		position: absolute;
	}
	&__btn {
		@include flex($justify: center);
		width: 23px;
		height: 23px;
		background-color: $pink;
		border-radius: 50%;
	}
}

.arrow {
	@include flex;
	&:before, &:after {
		@include pseudo;
		width: 6px;
		height: 2px;
		background-color: #fff;
	}
	&:before {
		transform: translateX(1px) rotate(-45deg);
	}
	&:after {
		transform: translateX(-1px) rotate(-135deg);
	}
}

.card {
	@include flex($justify: center);
	width: 100%;
	min-height: 160px;
	background-color: #fff;
	&:not(:first-child) {
		margin-top: 6px;
	}
	&__wrapper {
		width: 92%;
		padding: 9px 0;
	}
	&__row {
		@include flex;
	}
	&__content {
		@include flex;
		width: 64.35%;
		&:before, &:after {
			@include pseudo;
			width: 1px;
			min-height: 142px;
			background-color: #d1e4ed;
		}
		&-inner {
			@include flex($direction: column, $justify: flex-start, $align: flex-start);
			width: 100%;
			padding-left: 25px;
		}
	}
	&__title {
		@include roboto-bold;
		@include font-props(18px, 24px, #3b3b3b);
	}
	&__text {
		margin-top: 15px;
		@include flex;
	}
	&__caption {
		@include roboto-regular;
		@include font-props(14px, 24px, #3b3b3b);
	}
	&__desc {
		margin-top: 17px;
		@include flex;
		width: 55%;
	}
	&__column {
		@include flex($direction: column);
		&:last-child {
			& button {
				margin-top: 15px;
			}
		}
	}
}
.btn {
	border: none;
	outline: none;
	cursor: pointer;
	text-align: center;
}
.blue-btn {
	min-width: 59px;
	height: 35px;
	background-color: $blue;
	border-radius: 5px;
	transition: $slow;
	@include roboto-regular;	
	@include font-props(14px, 24px, #fff);
	&:hover {
		background-color: $darkBlue;
	}
}
.pink-btn {
	min-width: 117px;
	height: 40px;
	background-color: $pink;
	border-radius: 5px;
	transition: $slow;
	@include roboto-regular;	
	@include font-props(14px, 20px, #fff);
	&:hover {
		background-color: $darkPink;
	}
}
.form-block {
	@include flex($direction: column);
	padding: 33px 19px 34px 24px;
	background-color: $blue;
	&__text {
		color: #fff;
		text-align: center;
	}
	&__title {
		@include roboto-black;
		@include font-props(18px);
		text-transform: uppercase;
	}
	&__subtitle {
		@include roboto-regular;
		@include font-props(14px, 16px);
	}
}
.form {
	&__input {
		height: 100%;
		padding: 14px 17px 17px 17px;
		flex: 1 0 auto;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		border: none;
		outline: none;
		&::placeholder {
			@include roboto-light;
			@include font-props(13px, 23px, #868686);
		}
	}
	&__btn {
		min-width: 45px;
		height: 41px;
		border-radius: 0;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		@include roboto-bold;
		@include font-props(14px, 23px, #fff);
		text-transform: uppercase;
	}
}
.article {
	background-color: #fff;
	&__link {
		height: 100%;
		text-decoration: none;
	}
	&__row {
		@include flex;
	}
	&__text {
		padding: 24px 20px;
	}
	&__title {
		@include roboto-black;
		@include font-props(15px, 18px, #2e2e2e);
	}
	&__desc {
		margin-top: 8px;
		@include flex($justify: flex-start);
	}
	&__preview {
		flex: 0 0 33.06%;
		height: 100%;
	}
}